body {
  font: 12px "Inter", sans-serif;
  padding: 8px 24px;
  margin: 0;
}

body,
.react-page,
.app {
  min-height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.counts-container {
  flex-grow: 1;
}

.checkbox {
  margin-left: -10px;
}

.count-row {
  display: flex;
  align-items: center;
}

.count-row p {
  margin: 0;
}

.count-icon {
  margin-right: 4px;
}

.count-row-type {
  flex-grow: 1;
}

.layer-count {
  margin-top: 4px;
  margin-bottom: 8px;
}

.github {
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.github a:link {
  color: #5e6a75;
}

/*
  Created my own icons that the figma-plugin-ds css did not include.
  Recreated the icons in Figma, exported to SVG, then converted to CSS ready styling using:
  https://yoksel.github.io/url-encoder/
*/
.icon--slice {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9' y='9' width='1' height='1' fill='%23333333'/%3E%3Crect x='13' y='9' width='6' height='1' fill='%23333333'/%3E%3Crect x='22' y='9' width='1' height='1' fill='%23333333'/%3E%3Crect x='22' y='13' width='1' height='6' fill='%23333333'/%3E%3Crect x='22' y='22' width='1' height='1' fill='%23333333'/%3E%3Crect x='13' y='22' width='6' height='1' fill='%23333333'/%3E%3Crect x='9' y='22' width='1' height='1' fill='%23333333'/%3E%3Crect x='9' y='13' width='1' height='6' fill='%23333333'/%3E%3C/svg%3E%0A");
}

.icon--ellipse {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='6.5' stroke='%23333333'/%3E%3C/svg%3E%0A");
}

.icon--polygon {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8038 19L16 10L21.1962 19H10.8038Z' stroke='%23333333'/%3E%3C/svg%3E%0A");
}

.icon--rectangle {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9.5' y='9.5' width='13' height='13' stroke='%23333333'/%3E%3C/svg%3E%0A");
}

.icon--boolean-operation {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9.5' y='9.5' width='9' height='9' stroke='%23333333'/%3E%3Crect x='13.5' y='13.5' width='9' height='9' stroke='%23333333'/%3E%3Crect x='14' y='14' width='4' height='4' fill='%23333333'/%3E%3C/svg%3E%0A");
}

/*
  Way easier method:
  Copy pasting the SVG from inspecting the Figma UI into https://yoksel.github.io/url-encoder/
  Also the easier way to handle sizing and positioning with background-position and background-size,
  though size may require some manual tweaking to look right.
*/
.icon--component-set {
  background-image: url("data:image/svg+xml,%3Csvg class='svg' width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9L9 0 0 9l9 9 9-9zM1.414 9L9 1.414 16.586 9 9 16.586 1.414 9zM8.5 5.75h1V8.5h2.75v1H9.5v2.75h-1V9.5H5.75v-1H8.5V5.75z' fill-rule='evenodd' fill-opacity='1' fill='%23000' stroke='none'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  /* seems sized correctly already */
}

.icon--section {
  background-image: url("data:image/svg+xml,%3Csvg class='svg' width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.5 0C.224 0 0 .224 0 .5v11c0 .276.224.5.5.5h11c.276 0 .5-.224.5-.5V.5c0-.276-.224-.5-.5-.5H.5zM6 1H1v3h5V1zM1 5h5.5c.276 0 .5-.224.5-.5V1h4v10H1V5z' fill-rule='evenodd' fill-opacity='.9' fill='%23000' stroke='none'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-size: 14px;
}
